// Place all the styles related to the API::Mails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #0892D0;
$primary-color-light: rgba(8, 146, 208, 0.2);
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: #EEE url('https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center;
    background-size: cover;
}

.container {
    height: 100vh;
    background-color: rgba(0,0,0, 0.3);
    

    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0.5em;

        h1 {
            margin: 0 0.5em;
            font-size: 3em;
            color: #FFF; 
            span {
                color: $primary-color;
            }
        }

        .btn-container {
            // display: flex;
            // flex-direction: row;
            // // justify-content: space-between;
            .btn {
                padding: 0.5em;
                margin: 0 1em;
                text-align: center;
                text-decoration: none;
                font-size: 1.5em;
                border: 1px solid $primary-color-light;
                color: #FFF;
                background-color: $primary-color-light;
                border-radius: 0.5em;
    
                transition: all 1s;
    
                &:hover {
                    background-color: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }
}